.form-container{
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                height: 400px;
                width:350px;
                border-radius: 25px;
                background-color: rgba(0,0,0,0.5);
            }
#signup-container{
    height:550px;
}
.div_class{
                   
                position: relative;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                width:350px;
                border-radius: 25px;
                height: 200px;
                background-color: gray;
            
          }
.user-input{
                color: white;
                text-align: center;
                background-color: rgba(0,0,0,0.5);
                border-color: orange;
                border-width: 2px;
                border-radius: 20px;
                outline: none;
                height: 40px;
                width: 250px;
                display: block;
                transition: 0.5s;
                border-style: solid;
                font-size: 25px;
                
            }

.user-input:focus{
                width:300px;
                border: solid 2px darkturquoise;
            }

.button{
                height: 40px;
                width: 100px;
                border-radius: 25px;
                color: white;
                background-color: rgba(0,0,0,0.5);
                border:solid 2px white;
                transition:0.3s;
                margin: 5px;
            }

.button:hover{
                background-color: chartreuse;
            }