
 hr{
    color: black;
    width:100%;
    height: 1px;
    border: none;
    border-top: solid 4px black;
}

.link{
    background-color: skyblue;
    height: 100px;
    width: 300px;
    text-align: center;
    float: left;
    display: inline;
    padding-top: 40px;
    font-size: 25px;
    overflow: hidden;
    margin-left: 50px;
}

.link:hover{
    height: 300px;
}


#main-table{
    display: block;
    float:left;
    position: relative;
    margin: 0px;
    margin-left: 250px;
    height: 400px;
    width: 70%;
    background-color: red;
}

#link-collection{
    margin-left: 300px;
    margin-top: 500px;
}

.butt{
    margin-top: 80px;
    background-color: white; 
    color: black;
    height: 70px;
    width: 100px;
}