.outer-doctor-container{
    width:30%;
    height:100%;
    float:left;
    display:inline;
    border:none;
    outline: none;
    padding: 20px;
}

.doctor-container{
    height: 50px;
    overflow: hidden;
    width: 400px;
    position: absolute;
    display: block;
    transition: 0.2s;
    border: solid 1px black;
}

.name-container{
    position: relative;
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    border: solid 1px white;
    padding: 5px;
}

.name-container:hover{
    background-color: red;
    color: white;
    border-radius: 0px;
}

.doctor-container:hover{
    height: 500px;
    color: white;
    background-color: black;
    color: white;
    border: solid 1px black;
    z-index:5 ;
    box-shadow: 5px 10px 10px black;
}

.doc-image{
    float:left;
    display: inline;
    height: 300px;
    width: 100%;
    outline: none;
}

body{
    font-family: sans-serif;
}
            
#doctor-corner-head{
    text-align: left;
    font-size: 30px;
    font-family: sans-serif;
}

#line{
    margin-top:10px;
    border:none;
    width:100%;
    height: 4px;
    background-color:black;
}
            
#schedule-area{
    width:100%;
    height:900px;
    border-top:solid 3px red;
    background-color:black;
    color: white;
    display: block;
    float: clear;
}

.doctor-container p{
    margin-left: 20px;
    text-align: center;
}

.cell{
    padding: 30px;
}


